
        </section>


        <footer class="site-footer row full-width bgcolor-darkgrey" role="contentinfo">
          <div class="large-12 columns">
            <ul class="inline-list mam">
              {% include nav.html %}
            </ul>

            <p class="quiet copyright right mhl">
              <a href="https://twitter.com/{{ site.twitter }}">
                <i class="fa fa-twitter"></i>
                @{{ site.twitter }}
              </a>,
              <a href="https://github.com/{{ site.github }}/">
                <i class="fa fa-github"></i>
                {{ site.github }}
              </a>
              {{ site.year }}.
            </p>
          </div>
        </footer>


      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>
{% include footer.html %}