{% include page-top.html %}
<div class="row full-width">
  <img src="{{site.url}}image/ibsciss-boat-small-crop-dark.jpg" />
  <h2 class="text-center mam">We are passionate software developer</h2>
</div>
<div class="row">
  {{ content }}
</div>
<div class="row full-width bgcolor-lightgrey mtm">
  <div class="small-12 columns">
    <p class="text-center mam">
      We accept developers who care about the craft and want to share, <a href="#"><strong>registration</strong></a>
    </p>
  </div>
</div>
{% include page-bottom.html %}
